aiohttp==3.8.1
albumentations==1.1.0
AppKit==0.2.8
astunparse==1.6.3
av==9.2.0
awscrt==0.13.11
beautifulsoup4==4.11.1
blinker==1.4
brotli==1.0.9
brotlicffi==1.0.9.2
cairocffi==1.3.0
Carbon==1.1.8
cftime==1.6.0
conda==4.3.16
ConfigParser==5.2.0
coremltools==5.2.0
cryptography==37.0.1
Cython==0.29.28
defcon==0.10.0
defusedxml==0.7.1
dill==0.3.4
disco==1.40.4
dl==0.1.0
docutils==0.18.1
efficientnet_pytorch==0.7.1
etcd==2.0.8
expecttest==0.1.3
fastcluster==1.2.6
fastparquet==0.8.1
Flask==2.1.2
Foundation==0.1.0a0.dev1
freetype_py==2.3.0
fs==2.4.16
fsspec==2022.3.0
future==0.18.2
genapi==0.0.8
graphviz==0.20
grpc_reflection==1.0.0
grpc_tools==1.0.0
h5py==3.6.0
HTMLParser==0.0.2
hypothesis==6.46.2
imantics==0.1.12
importlib_metadata==4.11.3
importlib_resources==5.7.1
ipykernel==6.13.0
ipython==8.3.0
ipywidgets==7.7.0
Jinja2==3.1.2
jnius==1.1.0
keyring==23.5.0
lmdb==1.3.0
lockfile==0.12.2
lsnms==0.3.1
lxml==4.8.0
lz4==4.0.0
MarkupSafe==2.1.1
mmcv==1.5.0
mock==4.0.3
monkeytype==22.2.0
moviepy==1.0.3
mpi4py==3.1.3
mpmath==1.2.1
mtrand==0.1
munkres==1.1.4
mypy==0.950
networkx==2.8
norfair==0.4.3
nose==1.3.7
numarray==1.5.1
Numeric==24.2
numexpr==2.8.1
oauth2client==4.1.3
odfpy==1.4.1
olefile==0.46
openpyxl==3.0.9
ordereddict==1.1
pafy==0.5.5
pickle5==0.0.12
psutil==5.9.0
psycopg2==2.9.3
pycocotools==2.0.4
pycuda==2021.1
pydot==1.4.2
pymysql==1.0.2
pynvml==11.4.1
pyOpenSSL==22.0.0
PyQt4==4.11.4
PyQt5==5.15.6
PyQt6==6.3.0
PySide2==5.15.2.1
PySide6==6.3.0
pytest==7.1.2
python_Levenshtein==0.12.2
pythran==0.11.0
pytidylib==0.3.2
pyu2f==0.1.5
pyxlsb==1.0.9
qtpy==2.1.0
Quartz==0.0.1.dev0
railroad==0.5.0
reportlab==3.6.9
Res==0.1.7
s3fs==2022.3.0
scikit_learn==1.0.2
scikits.talkbox==0.2.5
sets==0.3.2
setuptools_scm==6.4.2
shiboken2==5.15.2.1
shiboken6==6.3.0
simplejson==3.17.6
sip==6.6.1
skimage==0.0
slack_sdk==3.15.2
Sphinx==4.5.0
SQLAlchemy==1.4.36
statsmodels==0.13.2
sympy==1.10.1
tensorboard_plugin_profile==2.8.0
tensorflow==2.8.0
tensorflow_io==0.25.0
threadpoolctl==3.1.0
tokenize_rt==4.2.1
toml==0.10.2
torchaudio==0.11.0
tornado==6.1
traitlets==5.1.1
typed_ast==1.5.3
ufoLib2==0.13.1
uharfbuzz==0.25.0
unicodedata2==14.0.0
uvloop==0.16.0
watchdog==2.1.7
xarray==2022.3.0
xattr==0.9.9
xlrd==2.0.1
xlsxwriter==3.0.3
xlwt==1.3.0
xmlrpclib==1.0.1
xmlrunner==1.7.7
zipp==3.8.0
zopfli==0.2.1
